.p {
    text-align: center;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: black;
    background-color: aqua;
    margin-left: 525px;    

}
.button {
    justify-items: center;
    padding-left: 600px;
}
